<div id="dashboard" class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-primary panel-anchor" onclick="javascript:window.location='#/players';">
                <div class="panel-heading">
                    <h3>
                        <i class="fa fa-2x fa-users"></i>
                    </h3>
                </div>
                <div class="panel-body">
                    <h3>Spieler</h3>
                    <h4>231</h4>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-info panel-anchor" onclick="javascript:window.location='#/players/1';">
                <div class="panel-heading">
                    <h3>
                        <i class="fa fa-2x fa-user"></i>
                    </h3>
                </div>
                <div class="panel-body">
                    <h3>Mein Profil</h3>
                    <h4>updated 28.07.2014</h4>
                </div>
            </div>
        </div>
    </div>
</div>